.article-cell{
  width: 690px;
  padding: 10px 30px 20px;
  margin: 7px 0 6px 0;
  background: #ffffff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 5px #eeeeee;

  .article-container {
    padding: 10px 0 0 0;
    .article-title{
      text,span {
        font-size: 28px;
        font-weight: 600px;
        line-height: 40px;
      }
    }
    .article-content{
      padding: 10px 0 0 0;
      font-size: 24px;
      line-height: 28px;
      color: #5b5b5b;
    }
    .article-action{
      width: 690px;
      padding: 10px 0  0;
      color: #a0acac;
       view,div,span {
        display: inline-block;
        vertical-align: text-bottom;
        padding: 0 10px 0 0;
        font-size: 24px;
      }
    }
  }
}